<div class="board">
    <div class="avd">
      <h1 class="av"> Les avis de retour:</h1> 
    </div>
    <table width="100%">
        
        <tbody>
            <tr >
                <td class="tdd">
                    <div class="peple-de">
                        nom prenom

                    </div>
                </td>

                <td class="tdd">
                  <div class="peple-de">
                      service

                  </div>
              </td>

                <td class="tdd">
                  <div>
                    fonction
                  </div>  
                </td>

                <td class="tdd"><div> date de retour</div></td>
                
              <td class="tdd"><button class="btn"> consulter </button></td>
             </tr>
        </tbody>

    </table>
    
    <a href="/avis"><button class="btn1"> ajouter avis </button></a>
</div>