
<mat-toolbar class="mat-elevation-z8">
  <button
  mat-icon-button
 
  (click)="sidenav.toggle()"
>
  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
</button>
  <h1 class="hh">ORMVAO</h1> 
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
   
    <img
    class="avatar mat-elevation-z8"
    src="assets/avatar6.png"
    
  />

  <h4 class="name">Nom Prenom</h4>
  <p class="designation">fonction</p>

  
    <mat-divider></mat-divider>

   
    <button mat-button class="menu-button" routerLink="/profile ">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/demander congé">
      <mat-icon>note_add</mat-icon>
      <span>demander congé</span>
    </button>

    <button mat-button class="menu-button" routerLink="/mes demandes">
      <mat-icon>toc</mat-icon>
      <span>Mes demandes</span>
    </button>

    <button mat-button class="menu-button" routerLink="/avis de retour">
      <mat-icon>library_books</mat-icon>
        <span>Avis de retour</span>
    </button>

    <button mat-button class="menu-button" routerLink="/les decisions">
         <mat-icon>subject</mat-icon>
          <span>Les decisions</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/quitter">
      <mat-icon>exit_to_app</mat-icon>
      <span>quitter</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" class="content mat-elevation-z4">
        <div class="card">
         <h1 class="prf">
           Mon Profil
         </h1>
         <div class="tabl">
         <form > 

           <table class="tab">
           <tr class="tr">
             <label for="matr" class="lab">Matricule :</label><br>
             <td class="c1"><label for="l3" class="lab">Adresse :</label><br> </td>
           </tr>
          <tr>
          <td class="td"><input type="text" id="matr" name="matr" class="out"><br> </td>
          <td class="l2"><input type="text" id="l3" name="l3" class="out"><br> </td>
          </tr>

          <tr class="tr">
            <td><label for="fname" class="lab">Nom :</label><br></td> 
            <td class="c1" ><label for="l4" class="lab">Grade :</label><br> </td>
          </tr>

          <tr>
          <td class="td"><input type="text" id="fname" name="fname" class="out"><br> </td>
          <td class="l2"><input type="text" id="l4" name="l4" class="out"><br> </td>
          </tr>

          <tr class="tr">
            <td><label for="prnm" class="lab">Prénom :</label><br> </td>
            <td class="c1" ><label for="l5" class="lab">Fonction :</label><br> </td>
          </tr>
          
          <tr>
          <td class="td"><input type="text" id="prnm" name="prnm"  class="out"><br> </td>
          <td class="l2"><input type="text" id="l5" name="l5" class="out"><br> </td>
          </tr>

          <tr class="tr">
            <td><label for="l1" class="lab">Email :</label><br> </td>
            <td class="c1"><label for="l6" class="lab">Service :</label><br> </td>
          </tr>

          <tr>
            <td class="td"><input type="text" id="l1" name="l1" class="out"><br> </td>
            <td class="l2"><input type="text" id="l6" name="l6" class="out"><br> </td>
          </tr>


          <tr class="tr">
            <td><label for="l2" class="lab">Tel :</label><br></td>
            <td class="c1"><label for="l7" class="lab">Disponibilité :</label><br> </td>
          </tr>


          <tr>
            <td class="td"><input type="text" id="l2" name="l2" class="out"><br> </td>
            <td class="l2"><input type="text" id="l7" name="l7" class="out"><br> </td>
          </tr>
          
          
          <tr class="tr"><label for="l8" class="lab">Solde :</label><br> </tr>
          <td class="td"><input type="text" id="l8" name="l8" class="out"><br> </td>
        </table>
         </form>
         
         </div>
        </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>