<section id="appointmant">
    <div class="container">
        <div class="formulaire">
            <h3>Congé administratif</h3>
            <form action="#" method="post">
                <input  required="" type="text" placeholder="Date demande" class="zone" onfocus="(this.type='date')" >
               <select pla class="type" >
                    <option value="normal">Type de congé</option>
                    <option value="normal">Normal</option>
                    <option value="autorisation absence">Autorisation d'absence</option>
                  </select>
                  <input  required="" type="text" placeholder="Date départ" class="zone" onfocus="(this.type='date')" >
                  <input  required="" type="text" placeholder="Date retour" class="zone" onfocus="(this.type='date')" >
                <input type="number" name="nombrejours" required="" placeholder="Nombre de Jours" class="zone">
                <input type="text" name="AdresseC" required="" placeholder="Adresse durant le congé" class="zone">
              <select  class="type" >
                    <option value="normal"> Interimaire</option>
                    <option value="normal"></option>
                    <option value="autorisation absence"></option>
                  </select>

                <button>Envoyer</button>
            </form>

        </div>
    </div>
</section>


  
