<section id="appointmant">
    <div class="container">
        <div class="formulaire">
            <h3>Congé Exceptionnel</h3>
            <form action="#" method="post">
                <input  required="" type="text" placeholder="Date demande" class="zone" onfocus="(this.type='date')" >
               <select  class="type" >
                    <option value="normal">Type de congé</option>
                    <option value="normal">Mariage  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6jours</option>
                    <option value="autorisation absence">Naissance d'un enfant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                3jours</option>
                    <option value="autorisation absence">Mariage d'un enfant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                  2jours</option>
                    <option value="autorisation absence">Décés d'un conjoint ou d'un enfant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    3jours</option>
                    <option value="autorisation absence">Décés d'un frére ou d'une soeur&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       2jours</option>
                    <option value="autorisation absence">circoncision&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                          2jours</option>

                
                </select>
                  <input  required="" type="text" placeholder="Date départ" class="zone" onfocus="(this.type='date')" >
                  <input  required="" type="text" placeholder="Date retour" class="zone" onfocus="(this.type='date')" >
                <input type="number" name="nombrejours" required="" placeholder="Nombre de Jours" class="zone">
                <input type="text" name="AdresseC" required="" placeholder="Adresse durant le congé" class="zone">
                <select  class="type" >
                    <option value="normal"> Interimaire</option>
                    <option value="normal"></option>
                    <option value="autorisation absence"></option>
                  </select>
                  <input  required="" type="text" placeholder="Piece-joint" class="zone" onfocus="(this.type='file')" >

                  <button>Envoyer</button>
            </form>

        </div>
    </div>
</section>
    

