
    <div class="py-4 mt-5"> 
    <div class='text-center pb-2'><h2>Consulter Demande</h2></div>
    <table style="width:100%" class=" text-center ">
        <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de jours</th>
        <th>Data demande</th>
        <th>Date départ</th>
        <th>Date retour</th> 
        <th>Action</th>
        <th>Etat</th>
    </tr>
</thead>
<tbody>
    <tr>
            <td>ID</td>
            <td>8</td>
            <td>21/01/2022</td>
            <td>04/02/2022</td>
            <td>04/02/2022</td>
            <td><a routerLink="/consulterdemande"><i id="Icon1" class="fa-solid fa-arrow-right-to-bracket"></i></a>
        
                <a href=""><i id="Icon3" class="fa-solid fa-trash"></i></a>
            </td>
            <td>En cour de traitement</td>
           
        
    </tr>
    <tr>
        <td>ID</td>
        <td>8</td>
        <td>21/01/2022</td>
        <td>04/02/2022</td>
        <td>04/02/2022</td>
        <td><a routerLink="/consulterdemande"><i id="Icon1" class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <a href=""><i id="Icon3" class="fa-solid fa-trash"></i></a>
        </td>
        <td>En cour de traitement</td>
       
    
</tr>
<tr>
    <td>ID</td>
    <td>8</td>
    <td>21/01/2022</td>
    <td>04/02/2022</td>
    <td>04/02/2022</td>
    <td><a routerLink="/consulterdemande"><i id="Icon1" class="fa-solid fa-arrow-right-to-bracket"></i></a>
        <a href=""><i id="Icon3" class="fa-solid fa-trash"></i></a>
    </td>
    <td>En cour de traitement</td>
   

</tr>
<tr>
    <td>ID</td>
    <td>8</td>
    <td>21/01/2022</td>
    <td>04/02/2022</td>
    <td>04/02/2022</td>
    <td>
        <a routerLink="/consulterdemande"><i id="Icon1" class="fa-solid fa-arrow-right-to-bracket"></i></a>
        <a href=""><i id="Icon3" class="fa-solid fa-trash"></i></a>
    </td>
    <td>En cour de traitement</td>
   

</tr>
   </tbody>
    </table>
    </div>


